.HomeScreen {
  background: linear-gradient(rgba(0, 0, 0, 0)), url("/images/bg.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;

  .cont {
    height: 100%;
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-weight: bold;
      color: white;
      font-size: 70px;
    }
  }

  @include respond-below(md) {
    .cont {
      align-items: center;

      h1 {
        text-align: center;
        font-size: 55px;
      }
    }
  }
}
