.SectionHeading {
  .charWrap {
    display: flex;
    // justify-content: center;
    flex-wrap: wrap;
  }

  .char {
    font-weight: 600;
    // margin: 0 2px;
  }

  p {
    font-size: 18px;
    color: $color_1;
  }

  h2 {
    font-size: 40px;
    color: $color_2;
    font-weight: 600;
    margin: 8px 0;
  }

  small {
    font-size: 16px;
    color: $color_text_grey;
  }

  @include respond-below(md) {
    h2 {
      font-size: 30px;
    }
  }
}
