.Header {
  width: 100vw;
  z-index: 1000;
  padding: 10px 0;
  background-color: $color_1;

  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      gap: 100px;

      .navLg {
        ul {
          display: flex;
          gap: 30px;
          padding: 0;
          margin: 0;

          li {
            list-style: none;
            position: relative;

            a {
              color: white;
              font-size: 18px;

              &:hover {
                color: $color_2;
              }
            }

            .dropdownWrap {
              position: absolute;
              top: 0px;
              padding-top: 30px;

              .dropdown {
                background-color: white;
                padding: 20px 10px;
                min-width: 200px;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                // box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                animation: openDropDown 0.25s;
                transform-origin: top;

                a {
                  color: $color_text_grey;
                  font-size: 16px;
                  font-weight: normal;
                  display: block;
                  // margin-bottom: 10px;

                  &:hover {
                    color: $color_2;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @include respond-below(md) {
    .wrap {
      .navLg {
        display: none;
      }
    }
  }
}

@keyframes openDropDown {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.show {
  transform: translateY(0);
}

.hide {
  transform: translateY(-100%);
}